html { overflow-y: scroll; }
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li {margin:0;padding:0;border:0;vertical-align:baseline;}
body {line-height:1.5;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
body {width:700px;margin:1.5em auto 0;}
.header h1 { font-size: 3.5em; color: #666; }
.expand_collapse_links { text-align: center; margin-bottom: 1.5em; display: none; }
.expand_collapse_links a { color: #555; }
img { margin-bottom: 10px; }
.center { text-align: center; }
.text, p { font-size: 1.2em; margin-bottom: 10px; text-align: justify;}
.intro { color: #444; }
ul li { margin-top: 10px; }
.section h2 { padding-left: 5px; background-color: #eee; cursor: pointer;}
.section h2 a { color: #333; text-decoration:none; display: block; }
.section { padding-bottom: 2px; }
.contents { padding: 0 10px; width: 610px; }
.args { float:right; }
.lang { padding: 3px; font-weight: bold;}
.section .lang { font-size: 0.8em; padding: 2px; font-weight: normal;}
.svn { color: hsl(260,57%,24%); background: hsl(260,57%,83%) }
.perforce { color: hsl(0,57%,24%); background: hsl(0,57%,83%) }
.bzr { color: hsl(60,57%,24%); background: hsl(60,57%,83%) }
.hg { color: hsl(190,57%,24%); background: hsl(190,57%,83%) }
.nowrap { white-space: nowrap; }
.sweet { color: #363; background: #beb; }
.compare { color: #663; background: #eeb; }
.help pre { font-size: 12px; }
.help td { vertical-align: top; }
code { font-size: 90%; }
.footer { text-align: center; color: #663; background-color: #eea; padding: 10px;}
.footer a { color: #440; } 
.footer-lang { text-align: center; color: #443; background-color: #dda; padding: 5px; font-size: 90%; }
.footer-lang a { color: #330; } 
.footer-badges { text-align: center; }
.footer-badges a { color: #777; }
.lang a {color: inherit; text-decoration: none;}
.note { text-decoration: italic; color: #666; padding: 1em; }

